{% extends 'base.html' %}

{% block content %}
{#    <style>#}
{##}
{#        .content {#}
{#          margin: auto;#}
{#          width: 50%;#}
          {#border: 3px solid green;#}
{#          padding: 10px;#}
{#        }#}
{#    </style>#}
{#    <div class="mt-3 content text-center">#}
{#        <div style ="border: 3px solid red"class="card border-danger mb-3" style="max-width: 50rem;">#}
{#          <div class="card-body text-danger">#}
{#            <h5 style="font-weight:bold"class="text-center card-title">Are you sure?</h5>#}
{#                 <div>#}
{#                    <form action ="{% url 'todoapp:delete' pk=target_todo.pk %}"#}
{#                          method="post">#}
{#                        {% csrf_token %}#}
{#                        <div class="m-1 text-center pt-3">#}
{#                            <a class="btn btn-primary rounded-pill px-3" href="{% url 'projectapp:detail' target_todo.project.pk %}">Cancel</a>#}
{#                            <input value ="Delete"#}
{#                                   type="submit"#}
{#                                   class="btn btn-danger rounded-pill px-3">#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}

    {% include '_form.html' with submit_label="삭제" topic="Delete todo?" %}

{% endblock%}