{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    {% for todo in target_project.todolist.all %}
      <div class ='container'>
        <div class = 'row my-2'>
           <div class = 'col-6'>
            <div class="card m-2">
              <div class="card-header">
                <div class="mr-auto">
                    <a style="text-decoration: none;" class="badge rounded-pill bg-success" href="{% url 'todoapp:update' todo.pk%}">{{ todo.subject }}</a>
                </div>
                <div>{{ todo.created_at|timesince }}</div>
              </div>
              <div class="card-body">
                <div>{{ todo.content|truncatechars:30}}</div>
              </div>
            </div>
          </div>
        </div>
     </div>
    {% endfor %}
{% endblock %}